.daviz-facet-edit .ui-icon {
  float: right;
  cursor: pointer;
}

.daviz-facet-edit .ui-icon-show {
  background-image: url(../../++resource++eea.daviz.images/show.png);
}

.daviz-facet-edit .ui-icon-hide {
  background-image: url(../../++resource++eea.daviz.images/hide.png);
}

.daviz-facet-add input[type=text] {
  width: 100%;
}

.daviz-facet-add .ui-icon-plus {
  border: 2px solid #CCC;
  float: right;
  margin-bottom: 1em;
}

/* Customize jquery.ui
*/
.ui-widget-header {
  background: none;
  border: none;
}

.ui-widget-content {
  border: none;
}

.ui-tabs .ui-tabs-panel {
  padding: 1em;
  border: 1px solid #ccc;
}

.ui-tabs .ui-tabs-nav li a {
  border-bottom: none;
}

/* Copied from plone 3
*/
dl.portalMessage {
  background-color:#FFFFFF;
  background-image: none;
  padding: 0px;
  border: none;
  font-size: 12px;
  clear: both;
}
dl.portalMessage a {
  color: black;
  border: none !important;
  text-decoration: underline;
}
dl.portalMessage dt {
  background-color: #996;
  border: 1px solid #996;
  font-weight: normal !important;
  float: left;
  margin: 0 0.5em 0 0;
  padding: 0.5em 0.75em;
  color: White;
  line-height: 1em;
}
dl.portalMessage dd {
  background-color: #ffffe3;
  border: 1px solid #996;
  padding: 0.5em 0.5em;
  margin: 0;
  line-height: 1em;
}

/* Daviz
*/
.daviz-edit-fieldset {
  margin: 0px;
  border: none;
  padding: 0px;
}

.daviz-facets-edit {
}

#content .daviz-facets-edit fieldset,
.daviz-facets-edit fieldset {
  border: none;
  padding: 0.5em 1em;
}

.daviz-facets-edit-ajax {
  float: right;
  width: 29%;
}

.daviz-facet-edit {
  margin-top: 1em;
  clear: right;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #888;
}

.daviz-facet-edit h1 {
  font-size: 1.2em;
  color: black;
  margin: 0 2px;
  padding: 0.2em 0.5em;
  cursor: move;
  background-color: #CDE2A7;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CDE2A7));
  background-image: -webkit-linear-gradient(center top , #FFFFFF, #CDE2A7);
  background-image: -moz-linear-gradient(center top , #FFFFFF, #CDE2A7);
  background-image: -ms-linear-gradient(center top , #FFFFFF, #CDE2A7);
  background-image: -o-linear-gradient(center top , #FFFFFF, #CDE2A7);
}

.daviz-facet-edit h1.hidden {
  background-color: #E6E6E6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#E6E6E6));
  background-image: -webkit-linear-gradient(center top , #FFFFFF, #E6E6E6);
  background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
  background-image: -ms-linear-gradient(center top , #FFFFFF, #E6E6E6);
  background-image: -o-linear-gradient(center top , #FFFFFF, #E6E6E6);
}

.daviz-facet-edit h1 .facet-title {
  overflow: hidden;
  width: 80%;
  height: 20px;
}

.daviz-facet-edit fieldset {
  border: 1px solid #cccccc;
}

.daviz-facet-edit input[type=text] {
  width: 100%;
}

.daviz-views-edit {
}

.daviz-views-edit-ajax {
}

.daviz-global-settings {
  width: 70%;
}

.daviz-views-edit ul {
  margin:0.5em 0 0 1.5em;
}

.daviz-view-edit textarea {
  width: 100%;
}

.daviz-sources-table {
  width: 100%;
}

.daviz-sources-table input[type=text] {
  width: 90%;
}

.daviz-ajax-loader {
  background-image: url(../../++resource++eea.daviz.images/loading.gif);
  background-position:left center;
  background-repeat:no-repeat;
  margin: 0 4em;
  padding: 4em;
  text-align: center;
  font-weight: bold;
}

.ui-widget-overlay {
  background: none ! important;
}

.daviz-loading-overlay {
  background: none ! important;
  border: none ! important;
  width: 400px ! important;
}

.daviz-loading-overlay .ui-dialog-titlebar {
  display: none ! important;
}

.daviz-loading-overlay .ui-resizable-handle {
  display: none ! important;
}

.daviz-status-lock {
  background: transparent url(../../++resource++eea.daviz.images/background.png) no-repeat center ! important;
}

/* Tabs */
.daviz-edit-tabs ul.formTabs {
  background-color: #ddd;
  border: 0.3em solid #ddd;
}

.daviz-edit-tabs ul.formTabs {
  display: block;
  border-style: solid solid none solid;
  margin-left: 0;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
}

.daviz-edit-tabs li.formTab {
    display: inline;
    margin-right:0.25em;
}

.daviz-edit-tabs li.formTab a {
    /* this isn't supported by all browsers, so we keep it in a separate rule */
    display: inline-block;
}

.daviz-edit-tabs li.formTab a {
    line-height: 2em;
    padding: 0 0.75em;
    text-decoration: none;
    border: none;
    margin: 0 ;
}

.daviz-edit-tabs li.formTab a.current {
    font-weight: bold;
}

.daviz-edit-tabs li.formTab a.current,
.daviz-edit-tabs li.formTab a:hover {
    background: White;
    color: Black;
}

.daviz-edit-tabs .panes {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #DDDDDD;
  padding: 0.5em;
}

#daviz-views-edit fieldset {
  border: none;
}

#daviz-properties-edit fieldset {
 border: none;
}

.daviz-cleanup {
  clear: both;
}

.daviz-confirm-overlay, .daviz-facet-add-overlay {
  border-radius: 10px;
  box-shadow: 0px 2px 2px #888;
}

.daviz-confirm-overlay .ui-dialog-titlebar,
.daviz-facet-add-overlay .ui-dialog-titlebar {
  color:black;
  font-size:1.2em;
  margin:0 2px;
  padding:0.2em 0.5em;
  background-color:#CDE2A7;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CDE2A7));
  background-image: -webkit-linear-gradient(center top , #FFFFFF, #CDE2A7);
  background-image: -moz-linear-gradient(center top , #FFFFFF, #CDE2A7);
  background-image: -ms-linear-gradient(center top , #FFFFFF, #CDE2A7);
  background-image: -o-linear-gradient(center top , #FFFFFF, #CDE2A7);
}

.daviz-facet-add-overlay fieldset {
  border: none;
}
