/* Thumbnail
*/

.daviz-views {
  float: left;
  width: 80%;
  overflow: auto;
}

.daviz-thumbnail-lens {
  text-align: center;
  padding: 1em ! important;
  margin: 1em ! important;
}

.daviz-tabular-details {
  display: block;
  text-align: center;
}

div div.exhibit-facet-body {
  overflow-x: hidden;
  overflow-y: auto;
}

div div.exhibit-facet-header-filterControl {
  width: 4em;
  text-align: right;
}
