[buildout]
extends = versions.cfg
package-name =
develop =
also-develop =
  eea.googlecharts
  eea.exhibit
  eea.app.visualization
  eea.converter
  eea.jquery

[instance]
eggs +=
  eea.googlecharts
  eea.exhibit
zcml +=
  eea.googlecharts
  eea.exhibit
