[buildout]
extends =
    versions.cfg
    https://svn.eionet.europa.eu/repositories/Zope/trunk/www.eea.europa.eu/trunk/buildout-configs/sources.cfg

index = http://eggrepo.eea.europa.eu/pypi/

parts =
    instance
    i18ndude
    zopeskel
    test

find-links =
    http://eggrepo.eea.europa.eu/simple
    http://dist.plone.org/thirdparty/

extensions =
    mr.developer
    buildout.dumppickedversions
    buildout.threatlevel

auto-checkout = *
always-checkout = force
sources = sources
versions = versions

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage

eggs =
    Pillow
    Plone
    eea.daviz
zcml =
    Products.CMFPlone
    eea.daviz

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${instance:eggs}

[zopeskel]
unzip = true
recipe = zc.recipe.egg
eggs =
    ZopeSkel
    ${instance:eggs}

