[buildout]
extends = buildout.cfg

parts +=
  libevent
  memcached
  memcached-ctl

also-develop +=
  eea.relations
  eea.facetednavigation
  eea.faceted.vocabularies
  eea.cache
  eea.depiction

memcache-address = 127.0.0.1
memcache-port = 11211
memcache-size = 2000

[instance]
eggs +=
  eea.daviz [full]
  plone.app.async

zcml +=
  eea.daviz-overrides
  eea.daviz-full
  plone.app.async-single_db_worker

environment-vars +=
  MEMCACHE_SERVER ${buildout:memcache-address}:${buildout:memcache-port}

[libevent]
recipe = zc.recipe.cmmi
url = https://github.com/downloads/libevent/libevent/libevent-2.0.21-stable.tar.gz

[memcached]
recipe = zc.recipe.cmmi
url = http://memcached.googlecode.com/files/memcached-1.4.15.tar.gz
extra_options = --with-libevent=${libevent:location}

[memcached-ctl]
recipe = collective.recipe.template
output = ${buildout:bin-directory}/memcached
mode = 0755
input = inline:
 #!/bin/sh
 export LD_LIBRARY_PATH=${libevent:location}/lib

 PIDFILE=${buildout:directory}/var/memcached.pid.${buildout:memcache-port}
    case "$1" in
      start)
       ${memcached:location}/bin/memcached -d -P $PIDFILE -m ${buildout:memcache-size}
        ;;
      stop)
        kill `cat $PIDFILE`
        ;;
      restart|force-reload)
        $0 stop
        sleep 1
        $0 start
        ;;
      *)
        echo "Usage: $SCRIPTNAME {start|stop|restart}" >&2
        exit 1
        ;;
    esac
