[buildout]
extends = buildout.cfg

parts +=
  libevent
  memcached
  memcached-ctl

also-develop +=
  eea.relations
  eea.facetednavigation
  eea.faceted.vocabularies
  eea.cache
  eea.depiction

effective-user = zope-www

[instance]
eggs +=
  eea.daviz [full]
zcml +=
  eea.daviz-overrides
  eea.daviz-full

[libevent]
recipe = zc.recipe.cmmi
url = http://www.monkey.org/~provos/libevent-1.4.8-stable.tar.gz

[memcached]
recipe = zc.recipe.cmmi
url = http://www.danga.com/memcached/dist/memcached-1.2.6.tar.gz
extra_options = --with-libevent=${libevent:location}

[memcached-ctl]
recipe = lovely.recipe:mkfile
path = ${buildout:bin-directory}/memcached
mode = 0755
content =
 #!/bin/sh
 export LD_LIBRARY_PATH=${libevent:location}/lib

 PIDFILE=${memcached:location}/memcached.pid
    case "$1" in
      start)
       ${memcached:location}/bin/memcached -d -u ${buildout:effective-user} -P $PIDFILE
        ;;
      stop)
        kill `cat $PIDFILE`
        ;;
      restart|force-reload)
        $0 stop
        sleep 1
        $0 start
        ;;
      *)
        echo "Usage: $SCRIPTNAME {start|stop|restart}" >&2
        exit 1
        ;;
    esac
